#fixed-back{
	position: fixed;
	top: 88%;
	left: 93%;
	z-index: 999;
	width: 5%;
	height: 5%;
}
@media screen and (max-width: 640px){
	#fixed-back{
	position: fixed;
	top: 85%;
	left: 91%;
	z-index: 999;
	width: 10%;
	height: 10%;
	}
}
@media screen and (min-width: 640px){
	#fixed-back{
	position: fixed;
	top: 88%;
	left: 93%;
	z-index: 999;
	width: 5%;
	height: 5%;
}
}