
	.plan .planlistleft ul li {
		width:30%; height:50px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:40px; padding-top:0px; margin-bottom:20px; display:inline-block;
	}
	
	.plan .planlistleft ul li input{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px; margin-top: 10px; }
	
	.plantextarea{	
		width:96% !important; min-height:100px !important; min-width:150px !important; padding-left:0px !important; padding-bottom:30px !important; padding-right:20px !important; padding-top:10px !important; margin-bottom:0px !important;
	}
	
	.plan .planlistleft ul li textarea{	
		width:91%; height:120px; min-height:120px;
	}
	
	.plan .planlistright ul li {
		width:30%; height:50px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top: 20px; margin-bottom:20px; display:inline-block;
	}
	
	#halfspan {
		width:65%; height:50px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top:0px; margin-bottom:0px; display:inline-block;
	}
	
	.plan .planlistright ul li select{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;;
	}
	
	.plan .planlistright ul li textarea{	
		width:91%; height:120px; min-height:120px;  margin-top: 10px;
	}
	
	#id_howd-you-hear-about-us {
		width:45%; height:45px; max-height:45px; padding:0px; padding-left:15px;
	}
	

	.planlist {
		width:49.8%;
		margin-top:0px;
		padding:0px;
		border-left: solid 1px  #e5e5e5;
	}
	
	.plan .general ul li {
		padding:0px; margin:0px; display:table; 
	}
	
	#plannercontent {
		margin-top:0px;
	}
	
#project-planner ul li.error span {
  font-weight: bold;
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  outline: 0;
  box-sizing: content-box;
  height:45px;
}


#project-planner ul li ul li label {
  font-weight: normal;
}
#project-planner ul li ul li:first-child label {
}


#project-planner ul li ul li {
  margin-top: 0;
}

#contact-form ul li.error textarea + .error-message {
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxKUbwz30AAAANSURBVAjXY/j06dN/AAmGA9YRinsqAAAAAElFTkSuQmCC) left top repeat-x;
}
#project-planner ul li input[type=text]:focus, #project-planner ul li textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxH4lKWuQAAAANSURBVAjXY/j/f9d/AAlxA7iU/lWYAAAAAElFTkSuQmCC);
}
#project-planner ul li.error span {
  background:none;
  color:#ffffff;
}
#project-planner ul li.error span:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABCSURBVAiZdYzBDcAgEMNCxwlDch2SecwH0QPUSPkklgugLbWGJKn32Hbgqx3YzEb+nsPUkqMtuzTBG7rggv0H5bwDQ4coY9OOIYEAAAAASUVORK5CYII=);
}


#project-planner ul.ie6 .input-text, #project-planner ul.ie6 .textarea {
  border: 1px solid #aaaaaa;
  background-color:#ffc2c2;
}
#project-planner ul.ie6 .textarea {
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  border-color: #cccccc;
  background-color:#ffc2c2;
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxKUbwz30AAAANSURBVAjXY/j06dN/AAmGA9YRinsqAAAAAElFTkSuQmCC) left top repeat-x;
}
#project-planner ul li input[type=text]:focus, #project-planner ul li textarea:focus {
  background-color: #ffffe6;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxH4lKWuQAAAANSURBVAjXY/j/f9d/AAlxA7iU/lWYAAAAAElFTkSuQmCC);
}

#project-planner ul li.error input[type=text], #project-planner ul li.error textarea {
  border-color: #ff2a2a;
  background:#ffc2c2;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}

#project-planner ul li.error input[type=select] {
  border-color: #ff2a2a;
  background:#ffc2c2;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}

#project-planner ul li.error input[type=text]:focus, #project-planner ul li.error textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text], #project-planner ul li.success textarea {
  border-color: #87de87;
  border-top-color: #2ca02c;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text]:focus, #project-planner ul li.success textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}

#project-planner ul li input[type=submit] {
   	border: none;
	height: 55px;
	width: 98%;
	background: #acb1b1;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}

#project-planner ul li input[type=submit]:hover {
	height: 55px;
	width: 98%;
	border: none;
	background: #e2d056;
	color:#ffffff;
	cursor: pointer;
	float:left;
}

#project-planner ul li input[type=submit]:active {
}
#project-planner ul li input[type=submit].sending {
   	border: none;
	height: 55px;
	width: 98%;
	background: #e6e6e6;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].sent {
  	background-color: #00aa00;
   	border: none;
	height: 55px;
	width: 98%;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].try-again {
   	border: none;
	height: 55px;
	width: 98%;
	background: #ff2a2a;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}


@media screen and (max-width: 1680px) {
	
	
	
	.plan .planlistleft ul li {
		width:30%; height:50px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:40px; padding-top:0px; margin-bottom:20px; display:inline-block;
	}
	
	.plan .planlistleft ul li input{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;}
	
	.plantextarea{	
		width:96% !important; min-height:100px !important; min-width:150px !important; padding-left:0px !important; padding-bottom:30px !important; padding-right:20px !important; padding-top:0px !important; margin-bottom:0px !important;
	}
	
	.plan .planlistleft ul li textarea{	
		width:91%; height:120px; min-height:120px;
	}
	
	.plan .planlistright ul li {
		width:30%; height:50px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top: 20px; margin-bottom:20px; display:inline-block;
	}
	
	#halfspan {
		width:65%; height:50px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top:0px; margin-bottom:0px; display:inline-block;
	}
	
	.plan .planlistright ul li select{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;;
	}
	
	.plan .planlistright ul li textarea{	
		width:91%; height:120px; min-height:120px;  margin-top: 20px;
	}
	
	#id_howd-you-hear-about-us {
		width:45%; height:45px; max-height:45px; padding:0px; padding-left:15px;
	}
	

	.planlist {
		width:49.8%;
		margin-top:0px;
		padding:0px;
		border-left: solid 1px  #e5e5e5;
	}
	
	.plan .general ul li {
		padding:0px; margin:0px; display:table; 
	}
	
	#plannercontent {
		margin-top:0px;
	}
	
#project-planner ul li.error span {
  font-weight: bold;
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  outline: 0;
  box-sizing: content-box;
  height:45px;
}


#project-planner ul li ul li label {
  font-weight: normal;
}
#project-planner ul li ul li:first-child label {
}


#project-planner ul li ul li {
  margin-top: 0;
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxKUbwz30AAAANSURBVAjXY/j06dN/AAmGA9YRinsqAAAAAElFTkSuQmCC) left top repeat-x;
}
#project-planner ul li input[type=text]:focus, #project-planner ul li textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxH4lKWuQAAAANSURBVAjXY/j/f9d/AAlxA7iU/lWYAAAAAElFTkSuQmCC);
}
#project-planner ul li.error span {
  background:none;
  color: none;
}
#project-planner ul li.error span:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABCSURBVAiZdYzBDcAgEMNCxwlDch2SecwH0QPUSPkklgugLbWGJKn32Hbgqx3YzEb+nsPUkqMtuzTBG7rggv0H5bwDQ4coY9OOIYEAAAAASUVORK5CYII=);
}
#project-planner ul li.error input[type=text], #project-planner ul li.error textarea, #project-planner ul li.error select {
  border-color: #ff2a2a;
  background:#ffc2c2;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}

#project-planner ul li.error input[type=text]:focus, #project-planner ul li.error textarea:focus, #project-planner ul li.error select:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text], #project-planner ul li.success textarea, #project-planner ul li.success select {
  border-color: #87de87;
  border-top-color: #2ca02c;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text]:focus, #project-planner ul li.success textarea:focus, #project-planner ul li.success select:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}

#project-planner ul li input[type=submit] {
   	border: none;
	height: 55px;
	width: 98%;
	background: #acb1b1;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}

#project-planner ul li input[type=submit]:hover {
	height: 55px;
	width: 98%;
	border: none;
	background: #e2d056;
	color:#ffffff;
	cursor: pointer;
	float:left;
}

#project-planner ul li input[type=submit]:active {
}
#project-planner ul li input[type=submit].sending {
   	border: none;
	height: 55px;
	width: 98%;
	background: #e6e6e6;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].sent {
  	background-color: #00aa00;
   	border: none;
	height: 55px;
	width: 98%;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].try-again {
   	border: none;
	height: 55px;
	width: 98%;
	background: #ff2a2a;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}

}


#budget-heading {
	padding: 35px 37px;
	background: #e2d056;
	color: #fff;
	font-weight: 700;
	font-family: "proxima-nova", sans-serif;
	font-size: 16px;
	line-height: 30px;
	display: inline-block;
	margin: 0 0 50px 0;
	max-width: 670px;
	width: 85%;
}
#budget-details-container {
	display: none;
	text-align: center;
}
#budget-details-container.active {
}


/* Laptop 15" */
@media screen and (max-width: 1440px) {


	
	
	.plan .planlistleft ul li {
		width:32.8%; height:50px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:40px; padding-top:0px; margin-bottom:20px; display:inline-block;
	}
	
	.plan .planlistleft ul li input{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;}
	
	.plantextarea{	
		width:96% !important; min-height:100px !important; min-width:150px !important; padding-left:0px !important; padding-bottom:30px !important; padding-right:20px !important; padding-top:0px !important; margin-bottom:0px !important;
	}
	
	.plan .planlistleft ul li textarea{	
		width:97%; height:120px; min-height:120px;
	}
	
	.plan .planlistright ul li {
		width:32.8%; height:45px; min-width:150px; padding-right: 20px;display:inline-block;
	}
	
	#halfspan {
		width:80%; height:45px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top:0px; margin-bottom:0px; display:inline-block;
	}
	
	.plan .planlistright ul li select{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;
	}
	
	.plan .planlistright ul li textarea{	
		width:98%; height:120px; min-height:120px;  margin-top: 20px;
	}
	
	#id_howd-you-hear-about-us {
		width:55%; height:45px; max-height:45px; padding:0px; padding-left:15px;
	}
	

	.planlist {
		width:49.8%;
		margin-top:0px;
		padding:0px;
		border-left: solid 1px  #e5e5e5;
	}
	
	.plan .general ul li {
		padding:0px; margin:0px; display:table; 
	}
	
	#plannercontent {
		margin-top:0px;
	}
	
#project-planner ul li.error span {
  font-weight: bold;
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  outline: 0;
  box-sizing: content-box;
  height:45px;
}


#project-planner ul li ul li label {
  font-weight: normal;
}
#project-planner ul li ul li:first-child label {
}


#project-planner ul li ul li {
  margin-top: 0;
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxKUbwz30AAAANSURBVAjXY/j06dN/AAmGA9YRinsqAAAAAElFTkSuQmCC) left top repeat-x;
}
#project-planner ul li input[type=text]:focus, #project-planner ul li textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxH4lKWuQAAAANSURBVAjXY/j/f9d/AAlxA7iU/lWYAAAAAElFTkSuQmCC);
}
#project-planner ul li.error span {
  background:;
  color:;
}
#project-planner ul li.error span:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABCSURBVAiZdYzBDcAgEMNCxwlDch2SecwH0QPUSPkklgugLbWGJKn32Hbgqx3YzEb+nsPUkqMtuzTBG7rggv0H5bwDQ4coY9OOIYEAAAAASUVORK5CYII=);
}
#project-planner ul li.error input[type=text], #project-planner ul li.error textarea {
  border-color: #ff2a2a;
  background:#ffc2c2;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}

#project-planner ul li.error input[type=text]:focus, #project-planner ul li.error textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text], #project-planner ul li.success textarea {
  border-color: #87de87;
  border-top-color: #2ca02c;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text]:focus, #project-planner ul li.success textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}

#project-planner ul li input[type=submit] {
   	border: none;
	height: 55px;
	width: 150%;
	background: #acb1b1;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}

#project-planner ul li input[type=submit]:hover {
	height: 55px;
	width: 150%;
	border: none;
	background: #e2d056;
	color:#ffffff;
	cursor: pointer;
	float:left;
}

#project-planner ul li input[type=submit]:active {
}
#project-planner ul li input[type=submit].sending {
   	border: none;
	height: 55px;
	width: 150%;
	background: #e6e6e6;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].sent {
  	background-color: #00aa00;
   	border: none;
	height: 55px;
	width: 150%;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].try-again {
   	border: none;
	height: 55px;
	width: 150%;
	background: #ff2a2a;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}

}

/* Laptop 13" */
@media screen and (max-width: 1280px) {


	
	.plan .planlistleft ul li {
		width:49.5%; height:50px; min-width:130px; padding-left:0px; padding-bottom:30px; padding-right:40px; padding-top:0px; margin-bottom:20px; display:inline-block;
	}
	
	.plan .planlistleft ul li input{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;}
	
	.plantextarea{	
		width:84% !important; min-height:100px !important; min-width:100px !important; padding-left:0px !important; padding-bottom:30px !important; padding-right:20px !important; padding-top:0px !important; margin-bottom:0px !important;
	}
	
	.plan .planlistleft ul li textarea{	
		width:110%; height:120px; min-height:120px;
	}
	
	.plan .planlistright ul li {
		width:49.5%; height:50px; min-width:130px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top: 20px; margin-bottom:20px; display:inline-block;
	}
	
	#halfspan {
		width:65%; height:50px; min-width:100px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top:0px; margin-bottom:0px; display:inline-block;
	}
	
	.plan .planlistright ul li select{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;;
	}
	
	.plan .planlistright ul li textarea{	
		width:110%; height:120px; min-height:120px;  margin-top: 20px;
	}
	
	#id_howd-you-hear-about-us {
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px; margin-bottom:30px;
	}
	

	.planlist {
		width:49.8%;
		margin-top:0px;
		padding:0px;
		border-left: solid 1px  #e5e5e5;
	}
	
	.plan .general ul li {
		padding:0px; margin:0px; display:table; 
	}
	
	#plannercontent {
		margin-top:0px;
	}
	
#project-planner ul li.error span {
  font-weight: bold;
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  outline: 0;
  box-sizing: content-box;
  height:45px;
}


#project-planner ul li ul li label {
  font-weight: normal;
}
#project-planner ul li ul li:first-child label {
}


#project-planner ul li ul li {
  margin-top: 0;
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxKUbwz30AAAANSURBVAjXY/j06dN/AAmGA9YRinsqAAAAAElFTkSuQmCC) left top repeat-x;
}
#project-planner ul li input[type=text]:focus, #project-planner ul li textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxH4lKWuQAAAANSURBVAjXY/j/f9d/AAlxA7iU/lWYAAAAAElFTkSuQmCC);
}
#project-planner ul li.error span {
  background:;
  color:;
}
#project-planner ul li.error span:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABCSURBVAiZdYzBDcAgEMNCxwlDch2SecwH0QPUSPkklgugLbWGJKn32Hbgqx3YzEb+nsPUkqMtuzTBG7rggv0H5bwDQ4coY9OOIYEAAAAASUVORK5CYII=);
}
#project-planner ul li.error input[type=text], #project-planner ul li.error textarea {
  border-color: #ff2a2a;
  background:#ffc2c2;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}

#project-planner ul li.error input[type=text]:focus, #project-planner ul li.error textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text], #project-planner ul li.success textarea {
  border-color: #87de87;
  border-top-color: #2ca02c;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text]:focus, #project-planner ul li.success textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}

#project-planner ul li input[type=submit] {
	margin-top:20px;
   	border: none;
	height: 55px;
	width: 150%;
	background: #acb1b1;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}

#project-planner ul li input[type=submit]:hover {
	height: 55px;
	width: 150%;
	border: none;
	background: #e2d056;
	color:#ffffff;
	cursor: pointer;
	float:left;
}

#project-planner ul li input[type=submit]:active {
}
#project-planner ul li input[type=submit].sending {
   	border: none;
	height: 55px;
	width: 150%;
	background: #e6e6e6;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].sent {
  	background-color: #00aa00;
   	border: none;
	height: 55px;
	width: 150%;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].try-again {
   	border: none;
	height: 55px;
	width: 150%;
	background: #ff2a2a;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
	
}
/* Tablet */
@media screen and (max-width: 1024px) {


	
	.plan .planlistleft ul li {
		width:40%; height:50px; min-width:110px; padding-left:0px; padding-bottom:30px; padding-right:40px; padding-top:0px; margin-bottom:20px; display:inline-block;
	}
	
	.plan .planlistleft ul li input{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;}
	
	.plantextarea{	
		width:84% !important; min-height:100px !important; min-width:100px !important; padding-left:0px !important; padding-bottom:30px !important; padding-right:20px !important; padding-top:0px !important; margin-bottom:0px !important;
	}
	
	.plan .planlistleft ul li textarea{	
		width:84%; height:120px; min-height:120px;
	}
	
	.plan .planlistright ul li {
		width:40%; height:50px; min-width:110px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top: 20px; margin-bottom:20px; display:inline-block;
	}
	
	#halfspan {
		width:65%; height:50px; min-width:100px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top:0px; margin-bottom:0px; display:inline-block;
	}
	
	.plan .planlistright ul li select{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;;
	}
	
	.plan .planlistright ul li textarea{	
		width:84%; height:120px; min-height:120px;  margin-top: 20px;
	}
	
	#id_howd-you-hear-about-us {
		width:200px; height:45px; max-height:45px; padding:0px; padding-left:15px; margin-bottom:30px;
	}
	

	.planlist {
		width:49.8%;
		margin-top:0px;
		padding:0px;
		border-left: solid 1px  #e5e5e5;
	}
	
	.plan .general ul li {
		padding:0px; margin:0px; display:table; 
	}
	
	#plannercontent {
		margin-top:0px;
	}
	
#project-planner ul li.error span {
  font-weight: bold;
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  outline: 0;
  box-sizing: content-box;
  height:45px;
}


#project-planner ul li ul li label {
  font-weight: normal;
}
#project-planner ul li ul li:first-child label {
}


#project-planner ul li ul li {
  margin-top: 0;
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxKUbwz30AAAANSURBVAjXY/j06dN/AAmGA9YRinsqAAAAAElFTkSuQmCC) left top repeat-x;
}
#project-planner ul li input[type=text]:focus, #project-planner ul li textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxH4lKWuQAAAANSURBVAjXY/j/f9d/AAlxA7iU/lWYAAAAAElFTkSuQmCC);
}
#project-planner ul li.error span {
  background:;
  color:;
}
#project-planner ul li.error span:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABCSURBVAiZdYzBDcAgEMNCxwlDch2SecwH0QPUSPkklgugLbWGJKn32Hbgqx3YzEb+nsPUkqMtuzTBG7rggv0H5bwDQ4coY9OOIYEAAAAASUVORK5CYII=);
}
#project-planner ul li.error input[type=text], #project-planner ul li.error textarea {
  border-color: #ff2a2a;
  background:#ffc2c2;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}

#project-planner ul li.error input[type=text]:focus, #project-planner ul li.error textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text], #project-planner ul li.success textarea {
  border-color: #87de87;
  border-top-color: #2ca02c;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text]:focus, #project-planner ul li.success textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}

#project-planner ul li input[type=submit] {
	margin-top:20px;
   	border: none;
	height: 55px;
	width: 98%;
	background: #acb1b1;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}

#project-planner ul li input[type=submit]:hover {
	height: 55px;
	width: 98%;
	border: none;
	background: #e2d056;
	color:#ffffff;
	cursor: pointer;
	float:left;
}

#project-planner ul li input[type=submit]:active {
}
#project-planner ul li input[type=submit].sending {
   	border: none;
	height: 55px;
	width: 98%;
	background: #e6e6e6;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].sent {
  	background-color: #00aa00;
   	border: none;
	height: 55px;
	width: 98%;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].try-again {
   	border: none;
	height: 55px;
	width: 98%;
	background: #ff2a2a;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
	
}


/* MOBILE */
@media screen and (max-width: 480px) {

	.plan .planlistleft ul li {
		width:80%; height:50px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:40px; padding-top:0px; margin-bottom:20px; display:inline-block;
	}
	
	.plan .planlistleft ul li input{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px; margin-top: 10px; }
	
	.plantextarea{	
		width:80% !important; min-height:100px !important; min-width:150px !important; padding-left:0px !important; padding-bottom:30px !important; padding-right:20px !important; padding-top:0px !important; margin-bottom:0px !important;
	}
	
	.plan .planlistleft ul li textarea{	
		width:80%; height:120px; min-height:120px;
	}
	
	.plan .planlistright ul li {
		width:80%; height:50px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top: 20px; margin-bottom:20px; display:inline-block;
	}
	
	#halfspan {
		width:100%; height:50px; min-width:150px; padding-left:0px; padding-bottom:30px; padding-right:20px; padding-top:0px; margin-bottom:0px; display:inline-block;
	}
	
	.plan .planlistright ul li select{
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;;
	}
	
	.plan .planlistright ul li textarea{	
		width:80%; height:120px; min-height:120px;  margin-top: 20px;
	}
	
	#id_howd-you-hear-about-us {
		width:100%; height:45px; max-height:45px; padding:0px; padding-left:15px;
	}
	

	.planlist {
		width:100%;
		margin-top:0px;
		padding:0px;
		border-left: solid 1px  #e5e5e5;
	}
	
	.plan .general ul li {
		padding:0px; margin:0px; display:table; 
	}
	
	#plannercontent {
		margin-top:0px;
	}
	
#project-planner ul li.error span {
  font-weight: bold;
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  outline: 0;
  box-sizing: content-box;
  height:45px;
}


#project-planner ul li ul li label {
  font-weight: normal;
}
#project-planner ul li ul li:first-child label {
}


#project-planner ul li ul li {
  margin-top: 0;
}

#contact-form ul li.error textarea + .error-message {
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxKUbwz30AAAANSURBVAjXY/j06dN/AAmGA9YRinsqAAAAAElFTkSuQmCC) left top repeat-x;
}
#project-planner ul li input[type=text]:focus, #project-planner ul li textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxH4lKWuQAAAANSURBVAjXY/j/f9d/AAlxA7iU/lWYAAAAAElFTkSuQmCC);
}
#project-planner ul li.error span {
  background:none;
  color:#ffffff;
}
#project-planner ul li.error span:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABCSURBVAiZdYzBDcAgEMNCxwlDch2SecwH0QPUSPkklgugLbWGJKn32Hbgqx3YzEb+nsPUkqMtuzTBG7rggv0H5bwDQ4coY9OOIYEAAAAASUVORK5CYII=);
}


#project-planner ul.ie6 .input-text, #project-planner ul.ie6 .textarea {
  border: 1px solid #aaaaaa;
  background-color:#ffc2c2;
}
#project-planner ul.ie6 .textarea {
}


#project-planner ul li input[type=text], #project-planner ul li textarea {
  border-color: #cccccc;
  background-color:#ffc2c2;
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxKUbwz30AAAANSURBVAjXY/j06dN/AAmGA9YRinsqAAAAAElFTkSuQmCC) left top repeat-x;
}
#project-planner ul li input[type=text]:focus, #project-planner ul li textarea:focus {
  background-color: #ffffe6;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQxH4lKWuQAAAANSURBVAjXY/j/f9d/AAlxA7iU/lWYAAAAAElFTkSuQmCC);
}

#project-planner ul li.error input[type=text], #project-planner ul li.error textarea {
  border-color: #ff2a2a;
  background:#ffc2c2;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}

#project-planner ul li.error input[type=select] {
  border-color: #ff2a2a;
  background:#ffc2c2;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}

#project-planner ul li.error input[type=text]:focus, #project-planner ul li.error textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQpIL0374AAAAANSURBVAjXY/h/9ep/AAkpA6nx+1etAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text], #project-planner ul li.success textarea {
  border-color: #87de87;
  border-top-color: #2ca02c;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}
#project-planner ul li.success input[type=text]:focus, #project-planner ul li.success textarea:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wJCRQwJCFagoEAAAANSURBVAjXY7j+5fp/AAjqA6K5jX8QAAAAAElFTkSuQmCC);
}

#project-planner ul li input[type=submit] {
   	border: none;
	height: 55px;
	width: 98%;
	background: #acb1b1;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}

#project-planner ul li input[type=submit]:hover {
	height: 55px;
	width: 98%;
	border: none;
	background: #e2d056;
	color:#ffffff;
	cursor: pointer;
	float:left;
}

#project-planner ul li input[type=submit]:active {
}
#project-planner ul li input[type=submit].sending {
   	border: none;
	height: 55px;
	width: 98%;
	background: #e6e6e6;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].sent {
  	background-color: #00aa00;
   	border: none;
	height: 55px;
	width: 98%;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}
#project-planner ul li input[type=submit].try-again {
   	border: none;
	height: 55px;
	width: 98%;
	background: #ff2a2a;
	border-radius: 11px;
	letter-spacing:2px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	font-family: "futura-pt", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;

    -webkit-transition:color .3s ease-in;  
    -moz-transition:color .3s ease-in;  
    -o-transition:color .3s ease-in;  
    transition:color .3s ease-in; 

    -webkit-transition:background 3s ease-out;  
    -moz-transition:background .3s ease-out;  
    -o-transition:background .3s ease-out;  
    transition:background .3s ease-out; 
	float:left;
}

}
